@model string

<form>
    <div class="container border p-4">
        <div class="row text-center">
            <h1>Passwort zurück setzen!</h1>
        </div>
        <div class="row">
            <table>
                <tr>
                    <div class="col-12 col-md-6 offset-md-3 pb-2">
                        <label class="form-control">
                            Das Passwort für @Model wurde zurück gesetzt. <br />
                            Bitte logen Sie sich neu ein.
                        </label>
                    </div>
                </tr>
            </table>
        </div>
    </div>
</form>